<div class="card p-4">

    <h4>Register</h4>

    <input ng-model="user.username" class="form-control mb-2" placeholder="Username">
    <input ng-model="user.email" class="form-control mb-2" placeholder="Email">
    <input ng-model="user.phone" class="form-control mb-2" placeholder="Phone">
    <input type="password" ng-model="user.password" class="form-control mb-2" placeholder="Password">

    <h5>Security Questions</h5>

    <div ng-repeat="q in questions">

        <label>{{q.question}}</label>
        <input ng-model="answers[q.id]" class="form-control mb-2">

    </div>

    <button class="btn btn-success" ng-click="register()">Register</button>

</div>