<app-navbar></app-navbar>
<div class="forgot-container">
  <div class="card forgot-card ">

    <h2 class="title">Forgot Password</h2>
    <p>Current View: {{ view }}</p>
    <!-- Progress -->
    <div class="progress mb-3 ">
      <div class="progress-bar"
           [style.width.%]="progress">
      </div>
    </div>
    <!-- STEP 1 -->
    <div *ngIf="view === 'username'">

      <input class="form-control"
             placeholder="Enter Username"
             [(ngModel)]="username">

      <button type="button"
              class="btn btn-primary w-100 mt-3"
              [disabled]="loading"
              (click)="continue()">
        Continue
      </button>

    </div>

    <!-- STEP 2 -->
    <div *ngIf="view === 'method'">

      <button type="button"
              class="btn btn-secondary w-100"
              [disabled]="loading"
              (click)="selectOtp()">
        Recover via OTP
      </button>

      <button type="button"
              class="btn btn-primary w-100 mt-3"
              [disabled]="loading"
              (click)="selectQuestions()">
        Security Questions
      </button>

    </div>

    <!-- STEP 3 OTP -->
    <div *ngIf="view === 'verifyOtp'">

      <input class="form-control mb-2"
             placeholder="Enter OTP"
             [(ngModel)]="otp">

      <button type="button"
              class="btn btn-success w-100"
              [disabled]="loading"
              (click)="verifyOtp()">
        Verify OTP
      </button>

    </div>

    <!-- STEP 3 QUESTIONS -->
    <div *ngIf="view === 'verifyQuestions'">

      <div *ngFor="let q of questions">

        <label>{{q.question}}</label>

        <input class="form-control mb-2"
               [(ngModel)]="q.answer">

      </div>

      <button type="button"
              class="btn btn-success w-100"
              [disabled]="loading"
              (click)="verifyQuestions()">
        Verify Answers
      </button>

    </div>

    <!-- STEP 4 -->
    <div *ngIf="view === 'reset'">

      <input class="form-control mb-2"
             placeholder="Username"
             [(ngModel)]="username">

      <input type="password"
             class="form-control mb-2"
             placeholder="New Master Password"
             [(ngModel)]="newPassword">

      <button type="button"
              class="btn btn-success w-100"
              [disabled]="loading"
              (click)="resetPassword()">
        Update Password
      </button>

    </div>

  </div>

</div>
