<app-navbar> </app-navbar>
<br>
<div class="forgot-container">
  <div class="card forgot-card">
    <h2 class="title">Forgot Password</h2>

    <!-- STEP 1 -->
    <div *ngIf="step === 1">

      <input class="form-control"
             placeholder="Enter Username"
             [(ngModel)]="username">

      <button class="btn btn-primary w-100 mt-3"
              (click)="continue()">
        Continue
      </button>

    </div>


    <!-- STEP 2 -->
    <div *ngIf="step === 2">

      <h5>Select Recovery Method</h5>

      <button class="btn btn-info w-100 mb-2"
              (click)="selectOtp()">
        Recover via OTP
      </button>

      <button class="btn btn-secondary w-100"
              (click)="selectQuestions()">
        Security Questions
      </button>

    </div>


    <!-- STEP 3 OTP -->
    <div *ngIf="step === 3 && method === 'otp'">

      <input class="form-control mb-2"
             placeholder="Enter OTP"
             [(ngModel)]="otp">

      <button class="btn btn-success w-100"
              (click)="verifyOtp()">
        Verify OTP
      </button>

    </div>


    <!-- STEP 3 QUESTIONS -->
    <div *ngIf="step === 3 && method === 'questions'">

      <div *ngFor="let q of questions">

        <label>{{q.question}}</label>

        <input class="form-control mb-2"
               [(ngModel)]="q.answer"
               placeholder="Your Answer">

      </div>

      <button class="btn btn-success w-100"
              (click)="verifyQuestions()">
        Verify Answers
      </button>

    </div>


    <div *ngIf="step === 4">

      <h5>Reset Master Password</h5>

      <input class="form-control mb-2"
             placeholder="Username"
             [(ngModel)]="username">

      <input type="password"
             class="form-control mb-2"
             placeholder="New Master Password"
             [(ngModel)]="newPassword">

      <button class="btn btn-success w-100"
              (click)="resetPassword()">
        Update Password
      </button>

    </div>

  </div>

</div>
