<div class="container mt-5">

  <div class="card p-4 shadow col-md-5 mx-auto">

    <h3 class="text-center mb-3">Forgot Password</h3>

    <!-- STEP 1 EMAIL -->

    <div *ngIf="step === 1">

      <input class="form-control mb-3"
             placeholder="Enter Email"
             [(ngModel)]="email">

      <button class="btn btn-primary w-100"
              (click)="sendMethods()">
        Continue
      </button>

    </div>

    <!-- STEP 2 METHOD -->

    <div *ngIf="step === 2">

      <h5>Select Recovery Method</h5>

      <button class="btn btn-info w-100 mb-2"
              (click)="sendOtp()">
        Recover using OTP
      </button>

      <button class="btn btn-secondary w-100"
              (click)="loadQuestions()">
        Recover using Security Questions
      </button>

    </div>

    <!-- STEP 3 OTP -->

    <div *ngIf="step === 3 && method === 'otp'">

      <input class="form-control mb-2"
             placeholder="Enter OTP"
             [(ngModel)]="otp">

      <button class="btn btn-primary w-100"
              (click)="verifyOtp()">
        Verify OTP
      </button>

    </div>

    <!-- STEP 3 QUESTIONS -->

    <div *ngIf="step === 3 && method === 'questions'">

      <div *ngFor="let q of questions">

        <label>{{q.question}}</label>

        <input class="form-control mb-2"
               [(ngModel)]="q.answer">

      </div>

      <button class="btn btn-primary w-100"
              (click)="verifyQuestions()">
        Verify Answers
      </button>

    </div>

    <!-- STEP 4 RESET -->

    <div *ngIf="step === 4">

      <input type="password"
             class="form-control mb-2"
             placeholder="New Password"
             [(ngModel)]="newPassword">

      <button class="btn btn-success w-100"
              (click)="resetPassword()">
        Reset Password
      </button>

    </div>

  </div>

</div>
